.welcome-container {
    margin: auto;
    min-height: 100vh;
    display: flex;
    text-align: center;
    padding: auto;
    position: relative;
}

.codeArea {
    margin: auto;
    color: var(--text-color);
    font-size: 70px;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--codeArea-background);
    font-family: Consolas, Monaco, 'Courier New', monospace;
}